/* Yumla custom css = 'Neat v2.18.5' theme */

/* body brand border */

#orangepop {
  display: block;
  z-index: 9999; 
  /* header = 99, modal = 999 */
  position: fixed;
  top: 0; left: 0;
  padding: 0; margin: 0;
  width: 3px;
  height: 120vh;
  background-color: rgba(255,103,0,0.8);
}

/* TAB keyboard control styling */
a:focus-visible,
button:focus-visible,
input:focus-visible {
  border-radius: 0.5rem;
}

/* minimalist header & carousel */
header .navigation,
.splide__pagination__page {
  visibility: hidden;
}

header .open-search-button,
header .cart-link {
  opacity: 0.5;
}

header .open-search-button:hover,
header .cart-link:hover {
  opacity: 1.0;
}

/* make logo auto-desaturate */
header.background_overlay .store-logo {
  filter: grayscale(100%) contrast(200%) brightness(0%);
}

/* change mobile modal menu font */
#navigation-modal {
  font-family: var(--header-font);
  font-weight: bolder;
  letter-spacing: 0.1rem;
}

/* compact thumbnail info */
.product-list-thumb-price,
.product-list-thumb-options-description {
  display: inline-block;
}
.product-list-thumb-options-description:before {
  content:"·";
}
.product-list-thumb-options-description {
  opacity: 0.7;
} 

/* back button on product pages */

.backbutton {
  float: left;
}

/* footer and modal menu link appearance */
footer a:hover,
#navigation-modal a:hover {
  background-color: rgba(255,103,0,0.05);
  color: #FF6700 !important;
  text-decoration: none !important;
}

/* change product thumbnail outline */
:root {
  --thumbnail-active-color: rgba(0,0,0,0.05);
}

/* global button appearance */
.welcome_button,
button, 
input[type], 
textarea {
  border-radius: 0.5rem;
}
textarea {
  border-bottom-right-radius: 0;
}
a.welcome_button:hover {
  opacity: 0.8;
}
button {
  font-family: monospace;
  font-weight: 500;
  font-size: 1.2rem;
}

/* minimalist footer style */
footer {
  background-color: var(--header-background-color);
  border-top: 1px solid var(--border-color);
  font-size: 80%;
  line-height: 80%;
}

/* desaturate Cart thumbnail images; workaround for confusing UI/UX mismatch image~variant */

.cart-item-image-link {
  filter: grayscale(100%) contrast(103%) brightness(105%);
  background-color: lightgray;
  border-radius: 0.5rem;
}

/* Yumla custom css END */